
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0; 
    background-color: black;
    width: 100%;
    box-shadow: 0 2px 15px gray;
}

nav ul li a {
    display: block;
    color: white;
    padding: 0.75rem;
    text-decoration: none;
    text-align: center;
    font-size: large;
}

nav ul li a:active {
    color: white;
}

nav ul li a:hover {
    background-color: #333;
    color:white;
}

.active {
    background-color: #4CAF50;
    color: white;
}

.design-header {
    text-align: center;
    width: 100%;
    font-size: xx-large;
}


#hickslaw {
    text-align: center;
    width: 100%;
    
}

#hicksimg {
    width:100%;
   
}

#fittslaw {
    text-align: center;
    width: 100%;
}

#fittsimg {
    width: 100%;
   
}
#rot {
    text-align: center;
    width: 100%;
}

#rotimg {
    width: 100%;
    
}

footer {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
}