#grid-nav nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0; 
    background-color: black;
    width: 100%;
    box-shadow: 0 2px 15px gray;
}

#grid-nav nav ul li a {
    display: block;
    color: white;
    padding: 0.75rem;
    text-decoration: none;
    text-align: center;
    font-size: large;
}

#grid-nav nav ul li a:active {
    color: white;
}

#grid-nav nav ul li a:hover {
    background-color: #333;
    color:white;
}

#grid-nav .active {
    background-color: #4CAF50;
    color: white;
}

#grid-header {
    text-align: center;
}

#grid-menu nav ul {
    list-style-type: none;
    margin-top: 50px;
    padding: 0; 
    background-color: gray;
    width: 100%;
    box-shadow: 0 2px 15px gray;
}

#grid-menu nav ul li a {
    display: block;
    color: white;
    padding: 0.75rem;
    text-decoration: none;
    text-align: center;
    font-size: large;
}

#grid-menu nav ul li a:active {
    color: white;
}

#grid-menu nav ul li a:hover {
    background-color: #333;
    color:white;
}

#grid-menu .active {
    background-color: #4CAF50;
    color: white;
}

#grid-container-typo {
    display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 100px;
        margin-bottom: 100px;
        grid-column-gap: 50px;
}

.grid-content {
    text-align: center;
}



#grid-footer {
    text-align: center;
}