@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
#wrapper {
    font-family: 'Montserrat', sans-serif;
}

/* items that effect the entire page.  */

#wrapper {
    min-height: calc(100vh - 70px);
}

/* container to place the main focus of the page into a grid  */

#grid-container {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 10%;
    margin-bottom: 10%; 
}

#grid-container2 {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 10%;
    margin-bottom: 10%;

}

/* the navigation bar  */

#grid-nav nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0; 
    background-color: black;
    width: 100%;
    box-shadow: 0 2px 15px gray;
}

#grid-nav nav ul li a {
    display: block;
    color: white;
    padding: 0.75rem;
    text-decoration: none;
    text-align: center;
    font-size: large;
}

#grid-nav nav ul li a:active {
    color: white;
}

#grid-nav nav ul li a:hover {
    background-color: #333;
    color:white;
}

#grid-nav .active {
    background-color: #4CAF50;
    color: white;
}

/* all of the titles in the h1 position  */

h1 {
    text-align: center;
    width: 100%;
    font-size: em;
}


/* site plan menu  */


#grid-menu nav ul {
    list-style-type: none;
    padding: 0; 
    background-color: gray;
    width: 100%;
    box-shadow: 0 2px 15px gray;
}

#grid-menu nav ul li a {
    display: block;
    color: white;
    padding: 0.75rem;
    text-decoration: none;
    text-align: center;
    font-size: large;
}

#grid-menu nav ul li a:active {
    color: white;
}

#grid-menu nav ul li a:hover {
    background-color: #333;
    color:white;
}

#grid-menu .active {
    background-color: #4CAF50;
    color: white;
}

/* format the content of each page  */

.grid-content { 
    text-align: center;
    padding-top: 2%;
    border-style: solid;
    font-size: 2em;
    margin-top: 5%;

}

.grid-content ul li {
    list-style-type: none;
}

.grid-content a {
    color: black;
}


#sitelogo {
    width:200px;
    order:2;
}

/* the footer  */

#grid-footer {
    margin-top: 10%;
    text-align: center;
    height: 50px;
}

#grid-footer a {
    color: black;
}