nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0; 
    background-color: black;
    width: 100%;
    box-shadow: 0 2px 15px gray;
}

nav ul li a {
    display: block;
    color: white;
    padding: 18px 18px;
    text-decoration: none;
    text-align: center;
}

nav ul li a:active {
    color: white;
}

nav ul li a:hover {
    background-color: #333;
    color:white;
}

.active {
    background-color: #4CAF50;
    color: white;
}

h1 {
    text-align: center;
    width: 100%;
}

#headshot {
    width: 100%;
    box-shadow: 0 2px 15px gray;
    margin-top: 25px;
    margin-bottom: 25px
}

h2 {
    text-align: center;
}

section ul {
    list-style-type: none;
    margin: 0;
    padding: 0; 
    width: 100%;
}

section ul li a{
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
}

section ul li a:active {
    color: black;
}

footer {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
}


