body,h1,h2,h3,h4,h5,h6 {
    font-family: "Lato", sans-serif;
    }


/* Navigation Bar */

.bar {
    float: left;
    color: white;
    background-color:#333;
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    }

.bar-item{
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.bar-item:hover {
    background-color:#111;
}

/* Header*/

header {
    float:left;
    text-align: center;
    font-weight: bold;
    background-color: #333;
    color: white;
}

/* headshot image */

.headshot {
    float:left;
    height: 600px;
    width: 400px;
    text-align:center;
    background-color: #333;
}

footer { 
    background-color: #333;
    text-align: center;
    padding: 10px;
    color: white;
    display: block;
}