/*Navigation Bar*/
.grid-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  .grid-nav ul li {
    float: left;
  }
  
  .grid-nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 2em;
  }
  
/* Change the link color to #111 (black) on hover */
  .grid-nav ul li a:hover {
    background-color: #111;
  }

/* item2 */
.item2 {
  list-style-type: none;
  margin-left: 10%;
  margin-right: 10%;
  background-color: white;
  color: black;
  font-size: 2em;
  
}
.item2 li {
  list-style-type: none;
  padding-bottom: 20px;
}

/* H1 header */

.item1 {
    text-align: center;
    font-size: 5em;
}


/* Footer*/

.item4 {
    border-top: 2em solid black;
    text-align: center;
    padding-top: 1%;
    font-size: 30px;

}


